@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shiki {
    background-color: transparent !important;
  }
}


#shiki-code code {
  counter-reset: step;
  counter-increment: step 0;
}

#shiki-code code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: #8F8CA8;
}

.imageParagraph>p:has(img) {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
}

.imageParagraph>p:has(img) img {
  margin: .8rem 0;
}
